@model RLBW_ERP.Models.SalesModels.SoftwareParams

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SoftwareParams</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubproductsList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubproductsList.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tasks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tasks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Workbenchs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Workbenchs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseNetworkType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenseNetworkType.NetworkType)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenseTime.Time)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommercialLicense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommercialLicense.Type)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-sm btn-outline-secondary" asp-action="Index">Voltar para a lista</a>
    </form>
</div>
