@model RLBW_ERP.Models.SalesModels.SoftwareParams

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SoftwareParams</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubproductsList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubproductsList.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tasks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tasks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Workbenchs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Workbenchs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseNetworkType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenseNetworkType.NetworkType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenseTime.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommercialLicense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommercialLicense.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-sm btn-outline-secondary" asp-action="Index">Voltar para a lista</a>
</div>
