@model IEnumerable<RLBW_ERP.Models.SalesModels.SoftwareParams>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubproductsList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workbenchs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseNetworkType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommercialLicense)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubproductsList.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tasks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workbenchs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenseNetworkType.NetworkType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenseTime.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommercialLicense.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
