@model CRM_Sample.Models.SalesModels.ProposalProduct

<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Create" class="myForm" method="post">
                <div class="modal-header">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h5>Inserir produto na proposta @Model.ProposalId:</h5>
                    <input type="hidden" asp-for="ProposalId"/>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <hr />
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <span class="input-group-text">@Html.DisplayNameFor(modelItem=>Model.CategoryId)</span>
                                <select asp-for="CategoryId" class="form-control" id="CategoryId" asp-items="ViewBag.CategoryId"></select>
                            </div>
                            <div class="form-group">
                                <span class="input-group-text">@Html.DisplayNameFor(modelItem=>Model.ProductId)</span>
                                <select asp-for="ProductId" class="form-control" id="ProductId" asp-items="@(new SelectList(string.Empty, "Id", "Name"))"></select>
                            </div>
                        </div>
                        <div class="col">
                           <div class="form-group">
                                <span class="input-group-text">@Html.DisplayNameFor(modelItem=>Model.BasePrice)</span>
                                <input asp-for="BasePrice" class="form-control" id="BasePrice" readonly />
                                <span asp-validation-for="BasePrice" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <span class="input-group-text">@Html.DisplayNameFor(modelItem=>Model.Discount)</span>
                                <input asp-for="Discount" value="@Model.Discount" class="form-control" id="Discount"/>
                                <span asp-validation-for="Discount" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <span class="input-group-text">@Html.DisplayNameFor(modelItem=>Model.Price)</span>
                                <input asp-for="Price" class="form-control" readonly id="FinalPrice" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <input asp-for="ManualPrice" class="form-check-input" id="ManualPrice" />@Html.DisplayNameFor(modelItem => Model.ManualPrice)
                                <span asp-validation-for="ManualPrice" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-sm btn-outline-secondary" />
                        <a class="btn btn-sm btn-outline-secondary ProposalDetails" data-bs-target="#modal" data-proposalId=@Model.ProposalId>Voltar</a>
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

