@model IEnumerable<RLBW_ERP.Models.FinanceModels.PaymentTerm>

@{
    ViewData["Title"] = "Condições de pagamento";
}

<h1>Condições de pagamento</h1>

<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @if (User.IsInRole("SuperAdmin") || User.IsInRole("Director"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> | 
                        <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>

                    </td>
                }
            </tr>
        }
    </tbody>
</table>
