@model IEnumerable<CRM_Sample.Models.LocationModels.Country>

@{
    ViewData["Title"] = "Países";
}

<h4>Países</h4>

<p>
    <a class="btn btn-sm btn-outline-secondary CreateCountry">Incluir País</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iso3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Iso3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneCode)
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Estados</a>
                    <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="modal" class="modal fade" role="dialog" />
@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        document.addEventListener('keydown', function (event) {
            if (event.ctrlKey && event.key === 'Enter') {
                console.log('Ctrl+Enter pressed')
                var activeModal = document.querySelector('#modal.show');
                console.log('activeModal:', activeModal);
                if (activeModal) {
                    var form = activeModal.querySelector('.myForm');
                    console.log('form: ', form)
                    if (form) {
                        form.submit();
                    }
                }
            }
        });
        $(document).ready(function () {
            $("form").removeData("validator");
            $("form").removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($('form'));
        })
        $(document).on('click', '.CreateCountry', function () {
            var url = '@ViewBag.Url' + '/Countries/Create';
            console.log(url);
            OpenModal(url, "#modal");
        });

    </script>
}
