@model IEnumerable<RLBW_ERP.Models.SalesModels.LicenseOptional>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OptionalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OptionalName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubProduct.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LicenseOptionalId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.LicenseOptionalId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LicenseOptionalId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
