@using static CRM_Sample.Models.CustomerModels.Company
@model CRM_Sample.Models.CustomerModels.Company

@{
    ViewData["Title"] = "Adicionar Empresa";
}

<h4>Cliente</h4>
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">
            <div class="input-group mb-3">
                <span class="input-group-text"> @Html.DisplayNameFor(modelItem => Model.FriendlyName)</span>
                <input asp-for="FriendlyName" class="form-control" />
                <span asp-validation-for="FriendlyName" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"> @Html.DisplayNameFor(modelItem => Model.CompanyName)</span>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"> @Html.DisplayNameFor(modelItem => Model.TaxpayerNumber)</span>
                <input asp-for="TaxpayerNumber" class="form-control" />
                <span asp-validation-for="TaxpayerNumber" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"> @Html.DisplayNameFor(modelItem => Model.Website)</span>
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">País</span>
                <select id="Country" class="form-control"  asp-itens="ViewBag.Countries">
                    <option selected value="0">Selecione</option>
                </select>
                <a id="NewCountry" class="btn btn-sm btn-outline-secondary">+</a>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Estado</span>
                <select id="State" class="form-control">
                    <option selected value="0">Selecione</option>
                </select>
                <a id="NewState" class="btn btn-sm btn-outline-secondary">+</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group mb-3">
                <span class="input-group-text"> @Html.DisplayNameFor(modelItem => Model.MainAddress)</span>
                <input asp-for="MainAddress" class="form-control" />
                <span asp-validation-for="MainAddress" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"> @Html.DisplayNameFor(modelItem => Model.AddressNumber)</span>
                <input asp-for="AddressNumber" class="form-control" />
                <span asp-validation-for="AddressNumber" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"> @Html.DisplayNameFor(modelItem => Model.AddressComplement)</span>
                <input asp-for="AddressComplement" class="form-control" />
                <span asp-validation-for="AddressComplement" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"> @Html.DisplayNameFor(modelItem => Model.PostalCode)</span>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"> @Html.DisplayNameFor(modelItem => Model.AddressDistrict)</span>
                <input asp-for="AddressDistrict" class="form-control" />
                <span asp-validation-for="AddressDistrict" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"> @Html.DisplayNameFor(modelItem => Model.CityId)</span>
                <select id="City" asp-for="CityId" class="form-control" asp-items="ViewBag.CityId">
                    <option selected value="0">Selecione</option>
                </select>
                <span asp-validation-for="CityId" class="text-danger"></span>
                <a id="NewCity" class="btn btn-sm btn-outline-secondary">+</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group mb-3">
                <span class="input-group-text"> @Html.DisplayNameFor(modelItem => Model.CompanyPhone)</span>
                <input asp-for="CompanyPhone" class="form-control">
                <span asp-validation-for="CompanyPhone" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"> @Html.DisplayNameFor(modelItem => Model.CompanyEmail)</span>
                <input asp-for="CompanyEmail" class="form-control">
                <span asp-validation-for="CompanyEmail" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"> @Html.DisplayNameFor(modelItem => Model.FinanceEmail)</span>
                <input asp-for="FinanceEmail" class="form-control">
                <span asp-validation-for="FinanceEmail" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="input-group mb-3">
                <span class="input-group-text"> @Html.DisplayNameFor(modelItem => Model.Notes)</span>
                <textarea asp-for="Notes" rows="4" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
            </div>
            <div class="input-group mb-3">
                <input type="submit" value="Salvar" class="btn btn-outline-secondary" />
                <a asp-action="Index" class="btn btn-outline-secondary">Voltar</a>
            </div>
        </div>
    </div>
</form>
<div id="modal" class="modal fade" role="dialog" />


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function () {
            //console.log('@ViewData.SelectedCountry');
            var url = '@ViewBag.Url/' + 'Locations/';
            console.log(url);
            GetCountriesList(url);
            $('#Country').on('change', function () {
                var countryId = $(this).val();
                $('#City').empty();
                console.log(url);
                GetStatesList(url, countryId)
            });
            $('#State').on('change', function () {
                var stateId = $(this).val();
                GetCitiesList(url, stateId);
            });
            $('#NewCountry').on('click', function () {
                var url = '@ViewBag.Url' + '/Countries/Create/';
                OpenModal(url, '#modal');
            });
            $('#NewState').on('click', function () {
                var countryId = $('#Country').val();
                var url = '@ViewBag.Url' + '/States/Create/' + countryId;
                if (countryId == 0 || countryId == null) {
                    alert("Selecione um país antes de clicar em Cadastrar");
                } else {
                    OpenModal(url, '#modal');
                }
            });
            $('#NewCity').on('click', function () {
                var stateId = $('#State').val();
                var url = '@ViewBag.Url' + '/Cities/Create/' + stateId;
                if (stateId == 0 || stateId == null) {
                    alert("Selecione um estado antes de clicar em Cadastrar");
                } else {
                    OpenModal(url, '#modal');
                }
            });
            $('#modal').on('shown.bs.modal', function () {
                $('.saveButton').click(function () {

                    console.log('click');
                    location.reload();
                });
            });

        });
        $(document).on('submit', '.myForm', function (e) {
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize(),
                success: function (html) {
                    window.location.reload(true);
                }
            });
            e.preventDefault();
        });
    </script>

}
