@model RLBW_ERP.Models.ViewModels.TransactionDistributionDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Distribuição da transação @Model.Id</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Model.Date.ToString("dd/MM/yyyy")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subcategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subcategory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        @*         <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Document)
        </dt>
        <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Document)
        </dd>
        *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class="col-sm-10">
            @string.Format(System.Globalization.CultureInfo.CreateSpecificCulture("pt-BR"), "{0:N2}", Model.Value)
        </dd>
    </dl>
    <hr />
    <h4>Distribuição em Centros de custo <a asp-action="CreateByTransaction" asp-controller="TransactionDistributions" asp-route-transactionId="@Model.Id" class="btn btn-sm btn-outline-secondary">Incluir</a></h4>
    @if (Model.Distribution.Count == 0)
    {
        <p>Não distribuída</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Centro de Custos</th>
                    <th>Cliente</th>
                    <th>Oportunidade</th>
                    <th>Título</th>
                    <th>Proporção</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Distribution)
                {
                    <tr>
                        <td>@item.CostCenterId</td>
                        <td>@item.CompanyName</td>
                        <td>@item.OpportunityId</td>
                        <td>@item.OpportunityTitle</td>
                        <td>@(string.Format(System.Globalization.CultureInfo.CreateSpecificCulture("pt-BR"),"{0:N1}%",item.Proportion*100))</td>
                        <td><a asp-action="Edit" asp-controller="TransactionDistributions" asp-route-id="@item.Id">Editar</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div>
    <a class="btn btn-sm btn-outline-secondary" asp-action="Index">Voltar para a lista</a>
</div>
