@using static RLBW_ERP.Models.SalesModels.Opportunity
@model RLBW_ERP.Models.SalesModels.Opportunity

@{
    Layout = null;
    ViewData["Title"] = "Oportunidade";
}

<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm())
            {
                <div class="modal-header">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="OpportunityGroup" />
                    <input type="hidden" asp-for="Id" />
                    <h5>Duplicar Oportunidade @Model.Id</h5>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <hr />
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text"> @Html.DisplayNameFor(modelItem => Model.Date)</span>
                        <input asp-for="Date" class="form-control" readonly="readonly" runat="server" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"> @Html.DisplayNameFor(modelItem => Model.CompanyId)</span>
                        <select class="form-control" asp-for="CompanyId" asp-items="ViewBag.CompanyId" readonly="readonly" runat="server">
                        </select>
                        <span asp-validation-for="CompanyId" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"> @Html.DisplayNameFor(modelItem => Model.ProductId)</span>
                        <select class="form-control" asp-for="ProductId" asp-items="ViewBag.ProductId" readonly="readonly" runat="server">
                        </select>
                        <span asp-validation-for="ProductId" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">@Html.DisplayNameFor(modelItem => Model.ErpUserId)</label>
                        <select class="form-control" asp-for="ErpUserId" asp-items="ViewBag.ErpUserId" readonly="readonly" runat="server">
                        </select>
                        <span asp-validation-for="ErpUserId" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">@Html.DisplayNameFor(modelItem => Model.Value)</label>
                        <input asp-for="Value" class="form-control" readonly="readonly" runat="server"/>
                        <span asp-validation-for="Value" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">@Html.DisplayNameFor(modelItem => Model.Status)</label>
                        <select asp-for="Status" class="form-control" asp-items="@Html.GetEnumSelectList<OpportunityStatus>()" readonly="readonly" runat="server">
                        </select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Observações</span>
                        <textarea asp-for="Notes" class="form-control" aria-label="Notes" rows="3" ></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Salvar" asp-route-opportunityToDuplicate="@Model.Id" class="btn btn-sm btn-outline-secondary" />
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Fechar</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
                }
