@model RLBW_ERP.Models.FinanceModels.Transaction

@{
    ViewData["Title"] = "Detalhes";
}

<div>
    <h4>Transação: detalhes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsExpense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsExpense)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsIncurred)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsIncurred)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionType.Subcategory.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionType.Subcategory.Category.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionType.Subcategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionType.Subcategory.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Document)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Document)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentAccount.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankTransactionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankTransactionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatementLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatementLine)
        </dd>
        @if (Model.BudgetId!=null) {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BudgetId)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Budget.Year)
        </dd>
        }
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a class="btn btn-sm btn-outline-secondary" asp-action="Index">Voltar para a lista</a>
</div>
