@model RLBW_ERP.Models.SalesModels.OptionalsPackage

<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Delete" class="myForm" method="post">
                <div class="modal-header">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="SubproductsListId" />
                    <input type="hidden" asp-for="OptionalId" />
                    <h5 class="text-danger"><strong>Excluir opcional?</strong></h5>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <hr />
                </div>
                <div class="modal-body">
                    <dl class="row">
                        <dt class = "col-sm-3">
                            @Html.DisplayNameFor(model => model.Quantity)
                        </dt>
                        <dd class = "col-sm-9">
                            @Html.DisplayFor(model => model.Quantity)
                        </dd>
                        <dt class = "col-sm-3">
                            @Html.DisplayNameFor(model => model.LicenseOptional)
                        </dt>
                        <dd class = "col-sm-9">
                            @Html.DisplayFor(model => model.LicenseOptional.OptionalName)
                        </dd class>
                        <dt class = "col-sm-3">
                            @Html.DisplayNameFor(model => model.BasePrice)
                        </dt>
                        <dd class = "col-sm-9">
                            @Html.DisplayFor(model => model.BasePrice)
                        </dd>
                        <dt class = "col-sm-3">
                            @Html.DisplayNameFor(model => model.Discount)
                        </dt>
                        <dd class = "col-sm-9">
                            @Html.DisplayFor(model => model.Discount)
                        </dd>
                        <dt class = "col-sm-3">
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>
                        <dd class = "col-sm-9">
                            @Html.DisplayFor(model => model.Price)
                        </dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-sm btn-outline-secondary" />
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary SubproductListItemDetails" data-SubproductListId="@Model.SubproductsListId">Voltar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
