@model IEnumerable<RLBW_ERP.Models.FinanceModels.TransactionType>

@{
    ViewData["Title"] = "Tipos (Transações)";
}

<h3>Tipos (Transações) <a class="btn btn-sm btn-outline-secondary" asp-action="Create">Cadastrar</a></h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subcategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subcategory.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a asp-controller="TransactionSubcategories" asp-action="Details" asp-route-id="@item.SubcategoryId">@Html.DisplayFor(modelItem => item.Subcategory.Name)</a>
            </td>
            <td>
                    <a asp-controller="TransactionCategories" asp-action="Details" asp-route-id="@item.Subcategory.CategoryId">@Html.DisplayFor(modelItem => item.Subcategory.Category.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                    <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a class="btn btn-sm btn-outline-secondary" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
        </tr>
}
    </tbody>
</table>
