@model RLBW_ERP.Models.FinanceModels.TransactionCategory

@{
    ViewData["Title"] = "Categoria (Transações)";
}

<h4>Categoria: @Html.DisplayFor(model => model.Name)</h4>
<p>@(Model.IsExpense ? "Despesa" : "Receita") >  @Html.DisplayFor(model => model.Name)</p>

<div>
    @if (Model.Notes != null)
    {
        <h6> @Html.DisplayNameFor(model => model.Notes): @Html.DisplayFor(model => model.Notes)</h6>
    }
    <hr />
    <h4>Subcategorias</h4>
    @foreach (var subcategory in Model.Subcategories)
    {
        <dl class="row">
            <dd class="col-sm-2">
                <a asp-controller="TransactionSubcategories" asp-action="Details" asp-route-id="@subcategory.Id">
                    @subcategory.Name
                </a>
            </dd>
        </dl>
        <ul class="row">
            @foreach (var type in subcategory.TransactionType)
            {
                <li class="col-sm-2">
                    @type.Name
                </li>
            }
        </ul>

    }
</div>
<div>
    <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a class="btn btn-sm btn-outline-secondary" asp-controller="TransactionSubcategories" asp-action="Create" asp-route-id="@Model.Id">Cadastrar Subcategoria</a>
    <a class="btn btn-sm btn-outline-secondary" asp-action="Index">Voltar</a>
</div>
