@model IEnumerable<RLBW_ERP.Models.FinanceModels.TransactionCategory>

@{
    ViewData["Title"] = "Categorias (Transações)";
}

<h3>Categorias (Transações) <a class="btn btn-sm btn-outline-secondary" asp-action="Create">Cadastrar</a></h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.Raw("Natureza")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.IsExpense)
                    {
                        @Html.Raw("Despesa")
                    }
                    else
                    {
                        @Html.Raw("Receita")                        
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> 
                <a class="btn btn-sm btn-outline-secondary" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
