@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using CRM_Sample.Data.Constants

@model IEnumerable<CRM_Sample.Models.SalesModels.Product>

@{
    ViewData["Title"] = "Produtos";
}

    <p>
        <a asp-action="Create">Cadastrar</a>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    <a class="btn btn-sm accept-policy btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-sm accept-policy btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a class="btn btn-sm accept-policy btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
