@using RLBW_ERP.Common;
@using RLBW_ERP.Models.FinanceModels;
@model RLBW_ERP.Models.FinanceModels.PurchaseOrder

<div class="container">
    <div class="modal-fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form asp-action="Create" class="myForm" method="post">
                    <div class="modal-header">
                        <div class="col">
                            <div class="row">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="ProposalId" />
                                <input type="hidden" asp-for="OpportunityId" />
                                <h5 class="modal-title">Proposta @Model.ProposalId vendida! Criação do Pedido de Compras</h5><br>
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="PONumber" class="control-label"></label>
                                    <input asp-for="PONumber" class="form-control" />
                                    <span asp-validation-for="PONumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Date" class="control-label"></label>
                                    <input asp-for="Date" class="form-control" id="PODate"/>
                                    <span asp-validation-for="Date" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Contract" class="control-label"></label>
                                    <input asp-for="Contract" class="form-control" />
                                    <span asp-validation-for="Contract" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DeliveryTime" class="control-label"></label>
                                    <input asp-for="DeliveryTime" class="form-control" />
                                    <span asp-validation-for="DeliveryTime" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="POStatus" class="control-label"></label>
                                    <select asp-for="POStatus" class="form-control" asp-items="@Html.GetEnumSelectList<PurchaseOrder.Status>()"></select>
                                    <span asp-validation-for="POStatus" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="Value" class="control-label"></label>
                                    <input asp-for="Value" class="form-control" id="value" />
                                    <span asp-validation-for="Value" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Currency" class="control-label"></label>
                                    <select asp-for="Currency" class="form-control" id="currency" asp-items="@Html.GetEnumSelectList<Currency.Currencies>()"></select>
                                    <span asp-validation-for="Currency" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ExchangeRate" class="control-label" id="excRateLabel"></label>
                                    <input asp-for="ExchangeRate" class="form-control" locked id="exchangeRate"/>
                                    <span asp-validation-for="ExchangeRate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ValueBRL" class="control-label"></label>
                                    <input asp-for="ValueBRL" class="form-control" id="valueBrl"/>
                                    <span asp-validation-for="ValueBRL" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PaymentTermId" class="control-label"></label>
                                    <select asp-for="PaymentTermId" class="form-control" asp-items="@ViewBag.PaymentTerm"></select>
                                    <span asp-validation-for="PaymentTermId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">

                                    <div class="form-group form-check">
                                        <input class="form-check-input" asp-for="DirectInvoicing" /> @Html.DisplayNameFor(model => model.DirectInvoicing)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    <textarea asp-for="Description" class="form-control"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="Notes" class="control-label"></label>
                                    <textarea asp-for="Notes" class="form-control"></textarea>
                                    <span asp-validation-for="Notes" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group col">
                            <input type="submit" value="Salvar" class="btn btn-sm btn-outline-secondary" />
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Fechar</button>
                            <a class="btn btn-sm btn-outline-secondary ProposalDetails" data-proposalId=@Model.ProposalId>Voltar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

